


$color-primary-blue: #2d314d;
$color-primary-green: #31d35c;
$color-primary-cyan:#2bb7da;



$color-dark-gray: #9698a6;
$color-light-gray: #f3f4f6;
$color-extra-light-gray:#fafafa;
$color-white:#fafafa;





$font-s-m:1.125rem;
$font-s-sm:.875rem;