@use '../abstracts' as var;

html{
    font-size: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

a, a:visited,a:hover{
    text-decoration: none;
}
body{
    overflow-x: hidden;

    &.noscroll {
        overflow: hidden;
      }

}

img{
    width: 100%;
}





button,
.button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: linear-gradient(to right, var.$color-primary-green, var.$color-primary-cyan);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: var.$color-white;
  font-weight: 400;
  font-size: var.$font-s-sm;
  transition: opacity 600s ease-in-out;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}



