html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-cent{
        justify-content: center;
    }
    &-ai-c {
        align-items: center;
    }

}