@use '../abstracts' as var;

.hidden-mobile{
    @include  var.breakpoint-down (medium){
     display: none;
    }
 }
 .header__button{
    @include  var.breakpoint-down (large){
        display: none;
       }
 }
 .hidden-desktop{
     @include var.breakpoint-up(medium){
         display: none;
     }
 }